@require '../../config.styl'

#dashboard-sidebar > .navigation
    display flex
    flex-direction column
    width 100%
    padding 12px
    overflow-x hidden
    overflow-y auto
    flex 1

    & > .tab
        display flex
        flex-direction row
        justify-content flex-start
        align-items center
        width 100%
        height 48px
        margin 0 0 8px 0
        padding 4px 16px
        color $detail
        font-weight 500
        border-radius 4px
        transition background-color .15s ease-out

        &:hover,
        &:focus
            background-color $hover

        &.-active
            color $title
            background-color $active

        & > .icon
            width 20px
            height 20px
            margin 0 12px 0 0