@require '../config.styl'

#dashboard > .header
    display block
    color $title
    font-size 24px
    font-weight 500
    margin 28px 8px 16px 8px
    padding 2px 12px
    border-left $border solid 4px