@require '../../config.styl'

#dashboard-sidebar > .profile
    display flex
    flex-direction column
    width 100%
    overflow-x hidden
    overflow-y auto
    border-top 1px solid $border

    & > .tab
        display flex
        flex-direction row
        justify-content flex-start
        align-items center
        width 100%
        margin 0
        padding 12px 20px
        color $detail
        font-weight 500
        border-radius 4px
        transition background-color .15s ease-out

        &:hover,
        &:focus
            background-color $hover

        & > .image
            width 40px
            height 40px
            border-radius 20px
            margin 0 12px 0 0

        & > .name
            font-size 18px
            font-weight 500
            color $detail