@require '../../config'

.dashboard-history
    width 100%

    & > .head,
    & > .body
        & > .row
            height 40px

            & > .data
                text-transform capitalize

    & > .head
        & > .row
            & > .data
                font-size 16px
                color $detail

    & > .body
        & > .row
            border-top 1px solid $border

            &:nth-child(odd)
                background-color rgba(0,0,0,.025)

            &:hover
                & > .data
                    color $title

            & > .data
                font-size 16px
                color $detail
                transition color .15s ease-out