@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('../fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('../fonts/Inter-italic.var.woff2?v=3.19') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans Thai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans Thai'), local('IBMPlexSansThai'),
    url('/fonts/IBMPlexSansThai-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans Thai';
  font-style: normal;
  font-weight: 450;
  font-display: swap;
  src: local('IBM Plex Sans Thai Text'), local('IBMPlexSansThai-Text'),
    url('/fonts/IBMPlexSansThai-Text.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans Thai';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('IBM Plex Sans Thai Medium'), local('IBMPlexSansThai-Medium'),
    url('/fonts/IBMPlexSansThai-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans Thai';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('IBM Plex Sans Thai SemiBold'), local('IBMPlexSansThai-SemiBold'),
    url('/fonts/IBMPlexSansThai-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans Thai';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('IBM Plex Sans Thai Bold'), local('IBMPlexSansThai-Bold'),
    url('/fonts/IBMPlexSansThai-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans Thai';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('IBM Plex Sans Thai Thin'), local('IBMPlexSansThai-Thin'),
    url('/fonts/IBMPlexSansThai-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans Thai';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('IBM Plex Sans Thai ExtraLight'),
    local('IBMPlexSansThai-ExtraLight'),
    url('/fonts/IBMPlexSansThai-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans Thai';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('IBM Plex Sans Thai Light'), local('IBMPlexSansThai-Light'),
    url('/fonts/IBMPlexSansThai-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Sukhumvit Set';
  font-display: swap;
  src: local('Sukhumvit Set');
  unicoderange: 'U+0E01-0E5B, U+200C-200D, U+25CC';
}
