/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

html,
body,
#__next {
  width: 100%;
  height: 100%;
  margin: 0;
}

svg {
  display: inline;
}

pre {
  font-size: 14px;
  line-height: 1.4em;
  margin: 1.5em 0 !important;
  overflow-x: auto;
  padding: 1.5em;
  white-space: pre;
  background: #011627;
  border-radius: 4px;
}

/* purgecss start ignore */
@tailwind utilities;
/* purgecss end ignore */
