@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .landing-btn {
    @apply mt-4 rounded-md px-9 py-3 font-semibold shadow-md transition-colors;

    &.--primary {
      @apply bg-prog-primary-500 text-white hover:bg-prog-primary-600;
    }

    &.--normal {
      @apply bg-white text-prog-gray-500 hover:bg-slate-100;
    }
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
