@require '../../config.styl'

#dashboard > .container,
#dashboard > .row > .container
    display block
    width 100%
    padding 20px 8px
    border 1px solid $border
    border-radius 4px
    background-color $background