@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');



.former {
  display: flex;
  flex: 1;
  margin: 5px 15px 10px 10px;
}

.former:hover .card-square,
.former:focus .card-square {
  margin-top: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 0;
}

.wrapper > .former:first-child {
  margin-left: 0;
}
.wrapper > .former:last-child {
  margin-right: 0;
}

.square {
  position: absolute;
  z-index: 1;
  border-radius: 5px;
  width: 90px;
  height: 90px;
  margin: 15px 0 0 15px;
  background-color: #007aff;
  box-shadow: 0 5px 25px rgba(0, 123, 255, 0.625);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: margin-top 0.25s ease-out;
}

.square > .icons {
  font-size: 45px;
  color: #fff;
}

.card {
  background-color: #ffffff;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.0925);
  margin-top: 52.5px;
  border-radius: 5px;
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 15px 15px 15px 140px;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 34px;
  font-family: 'DM Sans', sans-serif;
  cursor: pointer;
}

.body,
.card > button {
  display: flex;
  flex-direction: column !important;
  min-height: 25px;
}

.description {
  padding: 15px 25px;
  cursor: pointer;
}

.description > p {
  font-size: 28px;
  font-family: Sarabun;
}

.footer {
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  cursor: pointer;
}

.button {
  background-color: var(--primary);
}

.button > span > a {
  text-decoration: none;
  color: #fff;
}

.bodyLink {
  text-decoration: none;
  color: unset;
}
@media screen and (max-width: 567.9px) {
  .former {
    width: 100%;
    margin: 5px 0;
  }
  .wrapper {
    flex-direction: column;
    padding: 0 30px;
  }
}

@media screen and (min-width: 568px) and (max-width: 959.9px) {
  .former {
    margin-top: 5px;
  }
  .wrapper {
    padding: 0 30px;
  }
  .square {
    width: 65px;
    height: 65px;
  }
  .square .square > .icons {
    font-size: 28px;
  }
  .title {
    padding-top: 50px;
    padding-left: 30px;
  }
}