.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.125);
  padding: 15px 0;
  margin: 20px 0;
}

.list {
  padding-left: 3.75% !important;
  border-top: 1px solid var(--fade) !important;
}

.item {
  margin-left: 12px;
  margin-right: 6px;
}

.wrapper > nav > li:first-child .forum-list {
  border-top: unset !important;
}

@media screen and (max-width: 567.9px) {
  .wrapper {
    width: calc(100% - 60px);
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 568px) and (max-width: 959.9px) {
  .wrapper {
    width: calc(100% - 60px);
    margin-left: auto;
    margin-right: auto;
  }
}