#main-text {
  font-size: 24px;
  width: 100%;
  text-align: center;
  margin: 5px 0;
  font-family: Roboto;
  display: block ;
}

div#oauth-text {
  font-size: 24px;
  width: 100%;
  text-align: center;
  margin: 30px 0 15px 0;
  font-family: Roboto;
  display: block !important;
}

#grey-button {
  width: 100%;
  background: transparent;
  box-shadow: unset;
  color: grey;
  flex:1;
}

#login-button {
  text-transform: none;
  font-size: 16px;
  margin: 15px auto;
  padding: 5px 20px;
  height: 42px;
  width: 100%;
  font-weight: bold;
}

#login-button > span > i {
  font-size: 18px;
  margin-right: 8px;
}

#grey-button > span > i {
  font-size: 18px;
  margin-right: 8px;
}

#oauth-button {
  width: 100%;
  background: transparent;
  box-shadow: unset;
  color: grey;
  flex:1;
}

#oauth-link {
  flex: 1;
  text-decoration: none;
}

#account-container {
  padding: 10px;
  width: 511px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#account-container > button  > span > i {
  font-size: 18px;
  margin-right: 8px;
}

#account-container > form > div {
  width: 100%;
  padding: auto;
  display: flex;
  flex: 1;
  /* display: block; */
}

#google-button {
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  width: 250px;
  margin: 10px 0;
  text-align: left;
}

#google-button > span > i > img {
  margin-top: 8px;
  width: 18px;
  display: inline-block;
}

#facebook-button {
  background-color: #3B5998;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  color: white;
  width: 250px;
  margin: 10px 0;
  text-align: left;
}

#facebook-button > span > i > img {
  margin-top: 8px;
  width: 18px;
  display: inline-block;
}

#github-button {
  background-color: black;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  color: white;
  width: 250px;
  margin: 10px 0;
  text-align: left;
}

#github-button > span > i > img {
  margin-top: 8px;
  width: 18px;
  display: inline-block;
}