#root {
    width:1100px;
    margin-left:auto;
    margin-right:auto;
}

.divider {
    margin-top: 25px;
    padding:7px 0;
    color: var(--info);
}

.divider > p {
    font-size: 24px;
    font-weight: bolder;
}