@media screen and (max-width: 568px){
  .link-icon-responsive {
    display:none;
  }
  .action-icon-responsive {
    display: inline-block !important;
  }
  #main-nav {padding:0;}
  #menu-icon {
    margin-right:0;
  }
  #user-control {
    left:1% !important;
    right:1% !important;
    margin-left:10px;
    margin-right:10px;
    width:auto !important;
    /* height:50% !important; */
  }
}

#main-nav {
  position:fixed;
  top:0;
  left:0;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  padding:0 10px;
  min-height:45px;
  background-color:#fff;
  box-shadow:0 3px 3px rgba(0,0,0,.075);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  z-index: 2000;
}

.nav-icon {
  width:auto;
  height: auto;
  outline:none;
}
.nav-icon > i {
  color:#bbb;
  font-size:28px;
  padding:14px 14px 10px 14px;
  border-bottom:4px solid transparent;
  transition: color .175s ease-out,text-shadow .175s, border-bottom-color .175s;
}

.drawer-icon {
  color: #757575;
  font-size:24px;
  min-width: 56px;
  display: inline-flex;
  flex-shrink: 0;
}

.action-icon {
  width:auto;
  height:auto;
  appearance: none;
  -webkit-appearance: none;
  border:0;
  background-color:transparent;
  padding:0;
  outline:none;
}

.action-icon-responsive {
  display: none;
}

.nav-icon:hover i,
/* .nav-icon:focus i, */
.action-icon:hover a > i/*,
.action-icon:focus a > i*/ {
  text-shadow:0 0 3px rgba(0,123,255,.625);
  color: rgb(0,123,255);
  border-bottom-color: #007aff;
}

#user-panel {
  display:inline-flex;
  flex-direction: row;
  padding:6px 12px 2px 12px;
  max-width:205px;
  width:auto;
  height:auto;
  appearance: none;
  -webkit-appearance: none;
  min-height:50px;
  background-color:transparent;
  border:0;
  outline:none;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid transparent;
  transition:border-bottom-color .175s ease-out, background-color .175s ease-out;
}

#user-panel:hover/*,
#user-panel:focus*/ {
  border-bottom-color: #007aff;
  background-color:rgba(0,0,0,.0625);
}

#user-panel > p {
  font-size: 16px;
  color:#aaa;
  font-weight: bold;
}

#user-panel > img {
  margin-left:15px;
  width:36px;
  height:36px;
  border-radius:5px;
  object-fit: fill;
}

#menu-icon {
  margin-right:15px;
}

#user-control {
  position:fixed;
  top:30%;
  left:23%;
  right:23%;
  width:auto;
  background-color: #fff;
  border-radius:5px;
  border:1px solid #eee;
  box-shadow:0 3px 8px rgba(0,0,0,.125);
  padding:6px 12px;
  display:flex;
  flex-direction: column;
  animation: user-control-in .25s ease-out 0s 1;
}

@keyframes user-control-in {
  from {opacity:0}
  to {opacity:1}
}

#user-control > button {
  appearance:none;
  -webkit-appearance: none;
  border:0;
  background-color:#ff0000;
  display:block;
  padding:7px;
  font-size:16px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  display:inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline:none;
  margin:5px 0;
}

#user-control > button > i {
  font-size:18px;
  margin-right:8px;
}

#main-nav ~ main {
  padding-top:56px;
}

.drawer-list {
  width: 190px;
}

.drawer-list > ul {
  padding-top: 65px;
}

.grey-color {
  color: #aaa;
}

#account-container {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#account-container > button {
  text-transform: none;
  font-size: 16px;
  margin: 5px 0;
  padding: 5px 20px;
  width: 100%;
  font-weight: bold;
}

#account-container > button  > span > i {
  font-size: 18px;
  margin-right: 8px;
}

#account-container > div {
  width: 100%;
}

#user-logout {
  position:fixed;
  top:66px;
  right:10px;
  width:300px;
  background-color: #fff;
  border-radius:5px;
  border:1px solid #eee;
  box-shadow:0 3px 8px rgba(0,0,0,.125);
  padding:6px 12px;
  display:flex;
  flex-direction: column;
  animation: user-control-in .25s ease-out 0s 1;
}

#account-backdrop > div {
  top: 55px;
  z-index: -1;
}