@media screen and (max-width: 567.9px) {
  #root {
    width: 100%;
  }
  #navigator-title {
    display: none !important;
  }
  #account-container {
    width: 90%;
  }
  #account-container > div {
    width: 100%;
    padding: auto;
    display: flex;
    flex: unset;
    flex-direction: column;
  }
}

@media screen and (min-width: 568px) and (max-width: 959.9px) {
  #root {
    width: 100%;
  }
}

@media screen and (min-width: 960px) and (max-width: 1075px) {
  #root {
    width: 95%;
  }
}

@media screen and (max-width: 360px) {
  #profile-tab {
    margin-left: 5px;
  }
  #navigator-wrapper {
    padding: 15px 7px;
  }
}
