#task-list-wrapper {
  display:flex;
  flex-direction: column;
  width:90%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow:0 10px 35px rgba(0,0,0,.125);
  padding:0 0;
  margin:1% auto;
}

.task-item {
  margin-left: 12px;
  margin-right: 6px;
}

.task-list {
  padding-left: 3.75% !important;
  border-top: 1px solid var(--fade) !important;
}

#task-list-wrapper > nav > li:first-child .task-list {
  border-top:unset !important;
}

#loading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 83px - 83px + 56px); 
  /* screen_height - 2*(body_padding_top) + height_navbar */
}