#task-list-wrapper {
    display:flex;
    flex-direction: column;
    width:90%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow:0 10px 35px rgba(0,0,0,.125);
    padding:0 0;
    margin:1% auto;
}

.task-list {
    padding-left: 3.75% !important;
    border-top: 1px solid var(--fade) !important;
}

#task-list-wrapper > nav > li:first-child .task-list {
    border-top:unset !important;
}