@require '../../config'

.landing-featured
    display block
    width 1090px
    margin 20px auto
    font-size 36px
    color $title
    font-weight 700

    @media screen and (max-width 1365.9px)
        &
            width 100%
            text-align center