/* Init */
:root {
    --primary: #007aff;
    --secondary: #ffffff;
    --title: #039be5;
    --fade: #ceced2;
    --preload: #efeff4; 
    --background: #f9fbff;
    --success: #4cd964;
    --warning: #ffcc00;
    --danger: #ff3b30;
    --display: #000;
    --grey: #8e8e93;
    --snack: #313131;

    --fade-shadow: 0 3px 5px rgba(0,0,0,0.0375);
    --shadow: 0 3px 15px rgba(0,0,0,0.125);
    --material-shadow: 0 2px 30px rgba(0,0,0,0.0625);
    --material-shadow-elevate: 0 2px 30px rgba(0,0,0,0.125);

    --sea: linear-gradient(135deg,#33d3fc,#674af5);
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

body { margin:0; width:100%; background-color:var(--background); }
h1,h2,h3,h4,h5,h6,p,span,b,u,i,div {cursor:default;margin:0;}
::selection, ::-webkit-selection { background-color:rgba(0,123,255,0.25); }

* {font-family: Roboto; box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
}

.untouchable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    -webkit-tap-highlight-color: transparent !important;
    -webkit-touch-callout: none !important;
    -webkit-text-size-adjust:none !important; 
    -webkit-overflow-scrolling: touch;
}