@require '../../config'

.landing-detail
    display flex
    flex 1
    flex-direction column
    justify-content flex-start
    align-items center
    margin 12px
    padding 12px
    border-radius 4px
    max-width 360px
    text-align center

    & > .title
        color $title
        font-size 28px
        font-weight 700
        margin 20px 0

    & > .detail
        color $detail
        font-size 21px
        font-weight 400
        margin 0