@require '../../config'

#dashboard-search
    display flex
    flex 1
    flex-direction row
    justify-content flex-start
    align-items center
    border-radius 4px
    border 1px solid $border
    
    & > .search
        display flex
        flex 1
        font-size 21px
        padding 8px 0
        outline none

    & > .icon
        width 36px
        height 36px
        margin 0 4px
        padding 8px