.detail-row
    display grid
    justify-content center
    grid-template-columns repeat(3, 350px)
    width 100%
    padding 0 0 40px 0

    @media screen and (max-width 568px)
        &
            grid-template-columns repeat(1, 100%)

    @media screen and (max-width 1365.9px)
        &
            grid-template-columns repeat(auto-fill, 350px)