@require '../config'

.landing-showcase
    display flex
    flex-direction row
    justify-content flex-start
    align-items flex-start
    width 1060px
    margin 60px auto

    &.-reverse
        flex-direction row-reverse

    & > .cover
        & > .image
            width 100%
            height intrinsic
            padding 0 20px 0 0
            object-fit cover
            object-position contain

    & > .article
        display flex
        flex 2
        flex-direction column
        justify-content center
        align-items flex-start
        padding 28px 0

        & > .title
            font-size 32px
            color $title
            font-weight 700
            margin 0 0 20px

        & > .detail
            font-size 21px
            color $detail
            margin 0

    & > .cover
        display flex
        flex 3 0
        overflow hidden

        &.-interactive
            height 300px
            flex-direction column
            justify-content flex-end
            align-items flex-start
            opacity 0

            & > .detail
                font-size 28px
                font-weight 600
                color $detail
                padding 0 0 0 96px

            & > .title
                font-size 92px
                font-weight 800
                color $title
                padding 0 0 0 96px

        &.interacted
            opacity 1
            animation showcase-interaction .4s 0s 1 ease-out

            @keyframes showcase-interaction
                from
                    opacity 0
                    transform translateY(24px)

    @media screen and (max-width 767.9px)
        &
            width 100%
            flex-direction column
            padding 0 5%

            &.-reverse
                flex-direction column
 
            & > .article
                & > .title,
                & > .detail
                    width 100%
                    text-align center
                    padding 0

            & > .cover
                width 100% !important
                margin-left auto
                margin-right auto
                padding-top 40px

                & > .title
                    margin 0 auto
                    padding 0 !important
                    font-size 60px !important

                & > .detail
                    margin 0 auto
                    padding 0 !important
                    font-size 24px !important

                & > .image
                    width 100% !important
                    margin 0
                    padding 0 !important

    @media screen and (min-width 768px) and (max-width 1119.9px)
        &
            width 100%
            padding 0 28px

            & > .article
                padding-top 20px

            & > .cover
                margin-top 0
                flex 2 0

                & > .title
                    padding-left 32px !important
                    font-size 84px !important

                & > .detail
                    padding-left 32px !important
                    font-size 28px !important

                & > .image
                    margin 40px 0 0 0 !important