@require '../config'

.landing-showcase
    display flex
    flex-direction row
    justify-content flex-start
    align-items flex-start
    width 1060px
    margin 60px auto

    &.-reverse
        flex-direction row-reverse

        & > .cover
            & > .image
                padding 0 20px 0 0

    & > .article
        display flex
        flex 2
        flex-direction column
        justify-content center
        align-items flex-start
        padding 28px 0

        & > .title
            font-size 32px
            color $title
            font-weight 700
            margin 0 0 20px

        & > .detail
            font-size 21px
            color $detail
            margin 0

    & > .cover
        display flex
        flex 3
        overflow hidden

        &.-interactive
            height 300px
            flex-direction column
            justify-content flex-end
            align-items flex-start
            opacity 0

            & > .detail
                font-size 28px
                font-weight 600
                color $detail
                padding 0 0 0 96px

            & > .title
                font-size 92px
                font-weight 800
                color $title
                padding 0 0 0 96px

        &.interacted
            opacity 1
            animation showcase-interaction .4s 0s 1 ease-out

            @keyframes showcase-interaction
                from
                    opacity 0
                    transform translateY(24px)

        & > .image
            display block
            width 100%
            padding 0 0 0 20px

    @media screen and (max-width 767.9px)
        &
            width 100%
            flex-direction column
            padding 0 5%

            &.-reverse
                flex-direction column

            & > .article
                & > .title,
                & > .detail
                    width 100%
                    text-align center

            & > .cover
                & > .image
                    margin 40px 0 0 0
                    padding 0 20px

    @media screen and (min-width 768px) and (max-width 1119.9px)
        &
            width 100%
            padding 0 28px

            & > .article
                padding-top 20px

            & > .cover
                margin-top 40px
                flex 2