@require '../../../config'

.dashboard-tool-slot
    appearance none
    -webkit-appearance none
    display block
    width 49px // Based on Search Box's height
    height 49px // Based on Search Box's height
    padding 8px
    margin 0 0 0 8px
    border-radius 4px
    border 1px solid $border
    outline none