// Size
$sidebar-width = 240px

// Accent
$primary = #008bff
$primary-overlay = rgba(0,123,255,.15)

// Colors
$title = #1A202C
$detail = #718096
$border = #E2E8F0
$hover = #f7fafc
$active = #eceff3
$link = #008aff
$preload = #E2E8F0

$background = #fff
$root = #fafafa

$shadow = 0 4px 8px rgba(0,0,0,0.05)

// Breakpoint
$three-area-break-point = 995.9px
$two-area-break-point = 767.9px
$sidebar-break-point = 567.9px