@require '../config'

#landing-join
    font-family $font
    display flex
    flex-direction column
    justify-content flex-start
    align-items center
    width 100%
    max-width 960px
    margin 120px auto
    padding 0 5%

    & > .title
        display block
        font-size 42px
        font-weight 700
        color $title
        margin 0 0 20px 0

    & > .detail
        font-size 24px
        color $detail
        text-align center
        margin 0 0 20px 0

    & > .link
        font-size 21px
        font-weight 600
        background-color $accent
        color #fff
        margin 20px 0 0 0
        padding 8px 40px
        border-radius 6px