@require '../../config.styl'

.activity-container > .activity-link
    text-decoration none

    &:hover > .activity-card,
    &:focus > .activity-card 
        background-color $preload

    & > .activity-card
        display flex
        flex-direction column
        justify-content center
        align-items center
        flex 1
        max-width 158px
        min-height 108px
        padding 8px
        border-radius 4px
        border $border solid 1px
        transition background-color .125s ease-out

        & > .title
            color $title
            font-size 18px
            font-weight 500
            text-transform capitalize
            margin 0 0 4px 0

        & > .detail
            font-size 14px
            color $detail
            font-weight 400
            padding 4px 8px